.container {
    display: flex; 
    
    background-color: #282c34;
    flex-direction: column;
}

.header {
    width: 85%;
    min-height: 8vh;
    border-bottom-right-radius: 10px;
    background-color: #450045;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

.body {
    background-color: #282c34;
    min-height: 90vh;
    width: 85%;
    display: flex;
    flex-direction: row;
}

.viewPort {
    flex-direction: column;
    width: 90%;
    max-height: 85%;
    margin: 25px;
    padding: 25px;
    border-width: 5px;
    border-color: #450045;
    border-radius: 5px;
    background-color: grey;
}
