.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 3px solid #630063;
  border-radius: 4px;
  width: 100;
  background: #61006175;
  color: white;
  cursor: pointer;
  margin: 0.5rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #790079;
  border-color: #630063;
}

.button--inverse {
  background: transparent;
  color: #790079;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #790079;
}

.button--danger {
  background: #830000;
  border-color: #830000;
}

.button--danger:hover,
.button--danger:active {
  background: #f34343;
  border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
