.userForm {
    text-align: left;
    padding: 1em;
    margin: 1em;
    border: 2px solid #d3d3d3;
    border-radius: .5em;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    margin-top: 100px;
    margin-bottom: 1000px;
}

label {
  display:flex;
  text-align: center;
  font-weight: 500;
  margin-right: 50px;
  margin-top: 10px;
  color:rgb(26, 26, 44);
  margin-bottom: 20px;
}


