.container {
    display: flex;
    min-height: 800px;
    background-color: #282c34;
    flex-direction: column;
}

.header {
    width: 80%;
    min-height: 10vh;
    max-height: 15%;
    border-bottom-right-radius: 10px;
    background-color: #450045;

}

.body {
    background-color: #282c34;
    height: 800px;
    width: 800px;
    display: flex;
    flex-direction: row;
}

.buttons {
    flex-direction: column;
    width: 200px;
    height: 800px;

}

.viewPort {
    flex-direction: column;
    width: 600px;
    height: 800px;
}