# This is a basic workflow to help you get started with Actions

name: Headless Chrome UI tests /users/id/tasks

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the development branch
  push:
    branches: [ development ]
  pull_request:
    branches: [ development ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # action to take screenshot
      - name: Screenshot Action for UI user/id/tasks
        uses: JonathanTreffler/screenshot-action@main
        with:
          url: https://nscstrdevusw2tuecommon.z5.web.core.windows.net/users/41/tasks
          destination: https://nscstrdevusw2tuecommon.blob.core.windows.net/screenshots
